/* Masonry grid container */
.my-masonry-grid {
  display: flex;
  margin-left: -15px; /* Mengurangi ruang kiri dari grid */
  width: auto;
  margin-top: -15px; /* Mengurangi ruang atas dari grid */
}

/* Masonry grid column */
.my-masonry-grid_column {
  padding-left: 15px; /* Menyesuaikan padding kiri untuk setiap kolom */
  padding-top: 15px; /* Menyesuaikan padding atas untuk setiap kolom */
  background-clip: padding-box;
}

/* Image wrapper untuk menjaga proporsi */
.image-wrapper {
  position: relative;
  width: 100%;
  padding-bottom: 75%; /* Rasio 4:3, sesuaikan sesuai kebutuhan */
  margin-bottom: 15px;
  overflow: hidden;
  border-radius: 8px;
}

/* Gaya gambar di dalam grid */
.masonry-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

/* Tombol Show More/Less */
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
